body{
	background-color: #E0DFD5;
	color: #313638;
	font-family: 'Montserrat', sans-serif;
}

a:link, a:visited{
	color: #F09D51;
}
a:hover, a:active{
	color: #313638;
	text-decoration: none;
}

#panel{
	display: none;
}

.blog-header {
  line-height: 1;
  border-bottom: 2px solid #313638;
}

a.blog-header-logo:link {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.25rem;
  color: #F06543;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.blog-header-icon{
	font-size: 20px;
}

.nav{
	padding: 5px;
	background-color: #313638;
}

.btn{
	border: none;
}

.btn:active,
.btn.is-checked {
	color: #F09D51;
}

.btn.is-checked {
	text-decoration: none;	
	color: #F09D51;
}

.btn-link{
	font-size: .90rem;
	text-transform: uppercase;
	color: #F06543;
}

.btn-link-plus{
	color: #F06543;
	padding-right: 2px;
}

.btn-link:hover{
	color: #F09D51;
	text-decoration: none;
}

.btn-icon{
	font-size: 11px;
	color: #F06543;
}

.btn-newsletter{
	background-color: #E0DFD5;
	color: #313638;
}

.btn-newsletter:hover{
	color: #F06543;
}

.grid-item{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 15px;
}

.card-body{
	background-color: #f4f4f0;
}

a.cat-badge-link:link, a.cat-badge-link:visited{
	color: #E0DFD5;
	background-color: #F06543;
}

a.cat-badge-link:hover, a.cat-badge-link:active{
	color: #E0DFD5;
	background-color: #F09D51;
}

a.card-title:link, a.card-title:visited{
	font-family: 'Arvo', serif;
	color: #313638;
}

a.card-title:hover, a.card-title:active{
	font-family: 'Arvo', serif;
	color: #F09D51;
	text-decoration: none;
}

.post-card{
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: .25rem;
	padding: 15px;
}

.post-title{
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: #313638;
}

.post-subtitle{
	font-size: 20px;
}

.post-info{
	font-size: 13px;
}

.list-group-flush .list-group-item {
    background-color: transparent;
    padding-left: 0;
}

.list-group-item{
	border-top: 1px solid transparent;
	border-bottom: 1px solid #E0DFD5;
}

a.author-link:link, a.author-link:visited{
	font-size: .95rem;
	text-transform: uppercase;
	color: #F06543;
}

a.author-link:hover, a.author-link:active{
	font-size: .95rem;
	text-decoration: none;
	text-transform: uppercase;
	color: #F09D51;
}

.input-group{
	border: 1px solid #E0DFD5;
	border-radius: 3px;
}

.footer-bg{
	background-color: #313638;
	color: #E0DFD5;
}

.footer-title{
	font-family: 'Arvo', serif;
}

a.footer-link:link, a.footer-link:visited{
	color: #F06543;
}

a.footer-link:hover, a.footer-link:active{
	color: #F09D51;
	text-decoration: none;
}