body{
	background-color: #EAEAEA;
	color: #050404;
	font-family: 'Montserrat', sans-serif;
}

a:link, a:visited{
	color: #2A9134;
}
a:hover, a:active{
	color: #050404;
	text-decoration: none;
}

#panel{
	display: none;
}

.blog-header {
  line-height: 1;
  border-bottom: 2px solid #1a1a1a;
  background-color: #1a1a1a;
}

a.blog-header-logo:link {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.25rem;
  color: #137547;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.blog-header-icon{
	font-size: 20px;
}

.nav{
	padding: 5px;
	border-top: 2px solid #2A9134;
}

.btn{
	border: none;
}

.btn:active,
.btn.is-checked {
	color: #050404;
}

.btn.is-checked {
	text-decoration: none;	
	color: #050404;
}

.btn-link{
	font-size: .90rem;
	text-transform: uppercase;
	color: #137547;
}

.btn-link-plus{
	color: #137547;
	padding-right: 2px;
}

.btn-link:hover{
	color: #2A9134;
	text-decoration: none;
}

.btn-icon{
	font-size: 11px;
	color: #137547;
}

.btn-newsletter{
	background-color: #EAEAEA;
}

.btn-newsletter:hover{
	color: #9368B7;
}

.grid-item{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 15px;
}

a.cat-badge-link:link, a.cat-badge-link:visited{
	color: #EAEAEA;
	background-color: #137547;
}

a.cat-badge-link:hover, a.cat-badge-link:active{
	color: #EAEAEA;
	background-color: #2A9134;
}

a.card-title:link, a.card-title:visited{
	font-family: 'Arvo', serif;
	color: #050404;
}

a.card-title:hover, a.card-title:active{
	font-family: 'Arvo', serif;
	color: #2A9134;
	text-decoration: none;
}

.post-card{
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: .25rem;
	padding: 15px;
}

.post-title{
	font-family: 'Arvo', serif;
	font-size: 30px;
	color: #050404;
}

.post-subtitle{
	font-size: 20px;
}

.post-info{
	font-size: 13px;
}

.list-group-flush .list-group-item {
    background-color: transparent;
    padding-left: 0;
}

.list-group-item{
	border-bottom: 1px solid #EAEAEA;
}

.input-group{
	border: 1px solid #EAEAEA;
	border-radius: 3px;
}

.footer-bg{
	background-color: #050404;
	color: #EAEAEA;
}

.footer-title{
	font-family: 'Arvo', serif;
}

a.footer-link:link, a.footer-link:visited{
	color: #9368B7;
}

a.footer-link:hover, a.footer-link:active, a.author1-link:hover, a.author1-link:active, a.author2-link:hover, a.author2-link:active{
	color: #EAEAEA;
	text-decoration: none;
}