body{
	background-color: #EAEAEA;
	font-family: 'Montserrat', sans-serif;
}

a:link, a:visited{
	color: #3a3a3a;
}
a:hover, a:active{
	color: #050404;
	text-decoration: none;
}

#panel{
	display: none;
}

.blog-header {
  line-height: 1;
  border-bottom: 2px solid #050404;
}

.blog-header-logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.blog-header-icon{
	font-size: 20px;
}

.btn{
	border: none;
}

.btn:active,
.btn.is-checked {
  background-color: #050404;
}

.btn.is-checked {
  color: #EAEAEA;
}

.btn-secondary{
	border-color: transparent;
}

.btn-secondary:hover{
	background-color: #050404;
}

.grid-item{
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 15px;
}

.cat-badge{
	background-color: #893168;
}

.cat-jogo-semana{
	background-color: #00a9c6;
}

.cat-destaque-semana{
	background-color: #9e04e0;
}

.cat-todos{
	background-color: #050404;
}

.cat-noticias{
	background-color: #425ff4;
}

.cat-reviews{
	background-color: #f71844;
}

.cat-guias{
	background-color: #15c129;
}

.cat-tecnologia{
	background-color: #e00404;
}

.cat-eventos{
	background-color: #00bc57;
}
.cat-mobile{
	background-color: #c115a7;
}

.cat-pc{
	background-color: #db770d;
}

a.cat-badge-link:link, a.cat-badge-link:visited{
	color: #EAEAEA;
}

a.cat-badge-link:hover, a.cat-badge-link:active{
	color: #050404;
}

a.card-title:link, a.card-title:visited{
	font-family: 'Arvo', serif;
	color: #050404;
}

a.card-title:hover, a.card-title:active{
	font-family: 'Arvo', serif;
	color: #a8a1a1;
	text-decoration: none;
}

.list-group-flush .list-group-item {
    background-color: transparent;
    padding-left: 0;
}

.list-group-item{
	border-bottom: 1px solid #EAEAEA;
}

a.author1-link:link, a.author1-link:visited{
	color: #7248ba;
}

a.author2-link:link, a.author2-link:visited{
	color: #c45f25;
}

.footer-bg{
	background-color: #050404;
	color: #EAEAEA;
}

.footer-title{
	font-family: 'Arvo', serif;
}

a.footer-link:link, a.footer-link:visited{
	color: #6b6b6b;
}

a.footer-link:hover, a.footer-link:active, a.author1-link:hover, a.author1-link:active, a.author2-link:hover, a.author2-link:active{
	color: #a8a1a1;
	text-decoration: none;
}